{
    "APP_DEBUG": true,
    "APP_NAME": "Gethr",
    "APP_URL": "",

    "TWITCH_EXT_CLIENT_ID": "",
    "TWITCH_EXT_OWNER_ID": "",
    "TWITCH_EXT_SECRET": "",

    "SPOTIFY_CLIENT_ID": "",
    "SPOTIFY_SECRET": ""

    "LASTFM_API_KEY": "",
    "LASTFM_SECRET": ""
}
